name: cheapiesystems-com

on:
  schedule:
    - cron:  '0 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.3

    - name: digistuff
      run: ./mirror.sh
      env:
        source_repo: https://cheapiesystems.com/git/digistuff
        github_repo: digistuff.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: invsaw
      run: ./mirror.sh
      env:
        source_repo: https://cheapiesystems.com/git/invsaw
        github_repo: invsaw.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}
