name: codeberg-org

on:
  schedule:
    - cron:  '0 0 * * *'
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: easyvend
      run: ./mirror.sh
      env:
        source_repo: https://codeberg.org/Wuzzy/minetest_easyvend.git
        github_repo: easyvend.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: hbarmor
      run: ./mirror.sh
      env:
        source_repo: https://codeberg.org/Wuzzy/minetest_hbarmor.git
        github_repo: hbarmor.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: hudbars
      run: ./mirror.sh
      env:
        source_repo: https://codeberg.org/Wuzzy/minetest_hudbars.git
        github_repo: hudbars.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: hidden_doors
      run: ./mirror.sh
      env:
        source_repo: https://codeberg.org/Hamlet/hidden_doors.git
        github_repo: hidden_doors.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: hbhunger
      run: ./mirror.sh
      env:
        source_repo: https://codeberg.org/Wuzzy/minetest_hbhunger.git
        github_repo: hbhunger.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: xdecor-libre
      run: ./mirror.sh
      env:
        source_repo: https://codeberg.org/Wuzzy/xdecor-libre.git
        github_repo: xdecor-libre.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - uses: gautamkrishnar/keepalive-workflow@v1