name: git-bananach-space

on:
  schedule:
    - cron:  '0 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.3

    - name: advtrains
      run: ./mirror.sh
      env:
        source_repo: https://git.bananach.space/advtrains.git
        github_repo: advtrains.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: ehlphabet
      run: ./mirror.sh
      env:
        source_repo: https://git.bananach.space/ehlphabet.git
        github_repo: ehlphabet.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: advtrains_platform
      run: ./mirror.sh
      env:
        source_repo: https://git.bananach.space/advtrains_platform.git
        github_repo: advtrains_platform.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}
