name: git-bananach-space

on:
  schedule:
    - cron:  '0 0 * * *'
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: advtrains
      run: ./mirror.sh
      env:
        source_repo: https://git.bananach.space/advtrains.git
        github_repo: advtrains.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: basic_trains
      run: ./mirror.sh
      env:
        source_repo: https://git.bananach.space/basic_trains.git
        github_repo: basic_trains.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}

    - name: advtrains_platform
      run: ./mirror.sh
      env:
        source_repo: https://git.bananach.space/advtrains_platform.git
        github_repo: advtrains_platform.git
        branch: master
        access_token: ${{ secrets.ACCESS_TOKEN }}
